.component {
  .field {
    display: flex;
    justify-content: flex-start;

    .input {
      height: 22px;
      margin: auto;
      background-color: rgb(229, 238, 235);
      border: 0;
      border-bottom: 1px solid black;
    }

    .input:focus {
      outline: none;
    }
  }
}
