.error {
  width: 380px;
  height: 35px;
  position: absolute;
  right: 475px;
  margin: -15px;
  line-height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  background-color: white;
  border: 1px solid darkred;
  border-radius: 5px;
  -webkit-box-shadow: 0px 7px 14px -7px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 7px 14px -7px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 7px 14px -7px rgba(34, 60, 80, 0.6);
}
